
// for hcm-button
@weuiBtnHeight:46px;
@weuiBtnFontSize:18px;
@weuiBtnFontColor:#FFFFFF;
@weuiBtnActiveFontColor:rgba(255,255,255,.6);
@weuiBtnDisabledFontColor:rgba(255,255,255,.6);
@weuiBtnBorderRadius:2px;
@weuiBtnDefaultGap:15px;

@weuiBtnMiniFontSize:14px;
@weuiBtnMiniHeight:2.4;

@weuiBtnDefaultFontColor:#000000;
@weuiBtnDefaultActiveFontColor:rgba(0,0,0,.6);
@weuiBtnDefaultDisabledFontColor:rgba(0,0,0,.3);

@weuiBtnPrimaryBg:#03A9F4;
@weuiBtnPrimaryActiveBg:#2796CC;
@weuiBtnPrimaryDisabledBg:#AED8EA;

@weuiBtnDefaultBg:#F8F8F8;
@weuiBtnDefaultActiveBg:#EDEDED;
@weuiBtnDefaultDisabledBg:#F7F7F7;

@weuiBtnWarnBg:#E62C2C;
@weuiBtnWarnActiveBg:#B33C3A;
@weuiBtnwarnDisabledBg:#EC8B89;

@weuiBtnPlainPrimaryColor:rgba(3,169,244,1);
@weuiBtnPlainPrimaryBorderColor:rgba(3,169,244,1);
@weuiBtnPlainPrimaryActiveColor:rgba(3,169,244,.6);
@weuiBtnPlainPrimaryActiveBorderColor:rgba(23,169,244,.6);

@weuiBtnPlainDefaultColor:rgba(53,53,53,1);
@weuiBtnPlainDefaultBorderColor:rgba(53,53,53,1);
@weuiBtnPlainDefaultActiveColor:rgba(53,53,53,.6);
@weuiBtnPlainDefaultActiveBorderColor:rgba(53,53,53,.6);